@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
    top: 0;
    left: 0;
    font-family: 'Gorditas', serif;
    font-family: 'Secular One', sans-serif;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-left: auto;
    column-gap: 30px;
}

li {
    margin-left: auto;
}

a {
    text-decoration: none;
    color: rgb(11, 11, 92);
}

.box {
    margin: 200px auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

h1 {
    font-size: 70px;
    z-index: 1;
}

.absolute {
    position: absolute;
    bottom: 75px;
    margin: 50px;
    left: 0;
}

.img-right {
    height: 30vw;
    width: 45vw;
    z-index: 2;
}

.blue-box {
    width: 80vw;
    height: 15vw;
    background-color: rgb(11, 11, 92);
}

.relative {
    position: relative;
    top: -350px;
}